.small-card {
    width: 100%;
    height: auto;
    padding: 10px;   
}

.smallAccordion {
    width: 70%;
    align-self: center;
}

.scAccordion {
    display: flex;
    flex-direction: row-reverse;
}

.MuiAccordionSummary-root {
    display: flex;
    flex-direction: column;
}

.MuiPaper-root-MuiAccordion-root {
    font-size: .5em;
}

.MuiAccordionDetails-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}

.MuiTypography-root.MuiTypography-body2 {
    text-align: center;
}

.MuiTypography-root.MuiTypography-h6 {
    font-size: 1em;
    font-weight: 500;
}

.MuiPaper-root.MuiAccordion-root {
    border-radius: 20px;
    position: static;
}

.MuiPaper-root.MuiAccordion-root:nth-child(3n+0) {
    background-color: #bee9f6;
    color: #55052a;
}

.MuiPaper-root.MuiAccordion-root:nth-child(3n-1) {
    background-color: #deec1e;
    color: #172d6a;
}

.MuiPaper-root.MuiAccordion-root:nth-child(3n-2) {
    background-color: #fda305;
    color: #172d6a
}

.MuiPaper-root.MuiAccordion-root:nth-child(3n+0) .openChildModalBtn{
    background-color: #bee9f6;
    color: #55052a;
}

.MuiPaper-root.MuiAccordion-root:nth-child(3n-1) .openChildModalBtn{
    background-color: #deec1e;
    color: #172d6a;
}

.MuiPaper-root.MuiAccordion-root:nth-child(3n-2) .openChildModalBtn {
    background-color: #fda305;
    color: #172d6a
}

@media (min-width: 750px) {
    .small-card {
        width: 300px;
        height: auto;    
    }
    
    .smallAccordion {
        width: 70%;
        align-self: center;
    }
    
    .MuiAccordionSummary-root {
        display: flex;
        flex-direction: column;
    }
    
    .MuiAccordionDetails-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: left;
    }

    .MuiTypography-root.MuiTypography-h6 {
        font-size: 1.5em;
        font-weight: 500;
    }
}

@media (min-width: 1100px) {
    .small-card {
        width: 300px;
        height: auto;    
    }
    
    .smallAccordion {
        width: 70%;
        align-self: center;
    }
    
    .MuiAccordionSummary-root {
        display: flex;
        flex-direction: column;
    }
    
    .MuiAccordionDetails-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: left;
    }

    .MuiTypography-root.MuiTypography-body2 {
        font-size: 1.25em;
        text-align: center;
    }

    .MuiTypography-root.MuiTypography-body1 {
        font-size: 1.25em;
    }
}