body {
    background-color: rgb(254, 254, 254);
}

.MuiTimelineItem-root:before {
    display: none;
}

.MuiTypography-root {
    align-items: left;
}

.MuiCardContent-root {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
}

.lcContent {
    width: 50%;

}

.scContent {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
}

.cardImage {
    align-self: center;
}

.tlTitle {
    font-size: 4em;
}

/* .title {
    color: #7b1fa2
} */

.v_line {
    border-left: 2px solid #7b1fa2;
    height: 75px;
    margin: 20px auto;
    width: 2px;
}

.modalContent {
    width: auto;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    display: flex;
}

.modalText {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.modalTitle {
    padding: 25px;
    align-self: center;
    text-align: center;
}

.modalDesc {
    display: flex;
    padding: 20px;
    height: 50%;
    width: auto;
}

.modalImage {
    padding-left: 20px;
}

.scrollDesc {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}