#root {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow-x: hidden;
}

.MuiBox-root {
    width: 100%;
}

.MuiTimelineItem-root:before {
    display: none;
}

.MuiTimeline-root {
    margin: 0 auto;  
}

.MuiTypography-root {
    align-items: left;
}

.MuiTypography-root.MuiTypography-h3 {
    font-size: 1.5rem;
}

.MuiTypography-root.MuiTypography-h4 {
    font-size: 1rem;
}

.MuiTypography-root.MuiTypography-h5 {
    font-size: 1rem;
}

.MuiTypography-root.MuiTypography-h5.scrollDesc {
    font-size: 1rem;
    padding-top: 20px;
}

.MuiCardContent-root {
    background-color: #f6f6f6;
    border-radius: 10px;
}

.MuiTimelineItem-root:nth-of-type(even) .MuiCardContent-root{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    background-color: #f6f6f6;
}

/* TESTING TESTING TESTING */
.MuiTimelineItem-root:nth-child(3n+0) .MuiCardContent-root {
    background-color: #bee9f6;
    color: #55052a;
}

.MuiTimelineItem-root:nth-child(3n-1) .MuiCardContent-root{
    background-color: #deec1e;
    color: #172d6a;
}

.MuiTimelineItem-root:nth-child(3n-2) .MuiCardContent-root {
    background-color: #fda305;
    color: #172d6a
}

/* TESTING TESTING TESTING */

.MuiTimeline-root.MuiTimeline-poisitionAlternate {
    width: 100%;
}

.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
    height: fit-content;
    border-radius: 10px;
}

.MuiCardActions-root.MuiCardActions-spacing {
    padding-left: 0;
}

.MuiCardContent-root.modalText{
    padding: 0;
}

.MuiButtonBase-root.MuiButton-root {
    color: #7d0096;
    justify-content: right;
    padding: 5px;
    font-size: 1em;;
}

.MuiButtonBase-root.MuiButton-root:hover{
    background-color: transparent;
    text-decoration: underline;
}

.MuiButtonBase-root.MuiButton-root:focus {
    outline: none;
}

.moreBtn {
    display: flex;
    align-items: center;
    color: #7d0096;
}

.cardImage {
    align-self: center;
}

.tlTitle {
    font-size: 4em;
}

.v_line {
    border-left: 2px solid #7d0096;
    height: 40px;
    margin: 20px auto;
    width: 2px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.modalContent {
    height: 100%;
    background-color: #f6f6f6;
    overflow-x: hidden;
    overflow-y: auto;
}

.modalContent {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f6f6;
    padding: 10px;
    display: flex;
}

.modalText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    width: 100%;
}

.modalTitle {
    padding: 25px;
    align-self: center;
    text-align: center;
}

.modalTitle h2 {
    font-size: 2em;
    padding: 10px;
    font-weight: 400;
}

.modalDesc {
    display: flex;
    flex-direction: column-reverse;
    padding-inline: 30px;
}

button#closeBtn.MuiButtonBase-root.MuiButton-root {
    width: 100%;
    justify-content: right;
    padding-right: 10px;
    font-size: 1em;
}

button.openChildModalBtn {
    border: none;
    border-radius: 0px;
    padding: 0px;
}

button.openChildModalBtn:hover {
    border-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.MuiModal-root.childModal{
    display: flex;
    align-items: center;
}

.MuiModal-root.childModalCard {
    height: 50%;
}

.splitLine {
    margin: 50px;
    width: 75%;
    border: 1px solid #06c5bc;
  }

.videoPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.purpleFont {
    color: #7d0096;
}

.mediumBlueFont {
    color:#06c5bc;
}
  .react-player {
    max-width: 100%;
  }

/* TABLET SCREEN SIZES */
@media (min-width: 750px) {
    #root {
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }
    
    body {
        background-color: rgb(255, 255, 255);
    }
    
    .MuiTimelineItem-root:before {
        display: none;
    }
    
    .MuiTimeline-root {
        width: 80%;
        margin: 0 auto;
    }
    
    .MuiTypography-root {
        align-items: left;
    }

    .MuiTypography-root.MuiTypography-h5 {
        font-size: 1rem;
        padding-top: 20px;
    }

    .MuiTypography-root.MuiTypography-h5.scrollDesc {
        font-size: 1rem;
        padding-top: 20px;
    }
    
    .MuiCardContent-root {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .MuiTimelineItem-root:nth-of-type(even) .MuiCardContent-root{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        text-align: left;
        justify-content: space-between;
    }
    
    .MuiTimelineItem-root:nth-of-type(even) .MuiCardContent-root .lcContent{
        padding: 15px;
    }
    
    .lcContent {
        width: 50%;
    }
    
    .scContent {
        width: 50%;
        margin: 0 auto;
        background-color: rgb(245, 245, 245);
    }
    
    .cardImage {
        align-self: center;
        width: 50%
    }
    
    .tlTitle {
        font-size: 4em;
    }
    
    .v_line {
        border-left: 2px solid #7d0096;
        height: 75px;
        margin: 20px auto;
        width: 2px;
    }

    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.modalContent {
        height: 90%;
        width: 60%;
        background-color: #f6f6f6;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .modalContent {
        width: auto;
        height: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f6f6f6;
        padding: 10px;
        display: flex;
    }
    
    .modalText {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: fit-content;
    }

    .MuiTimelineItem-root:nth-of-type(even) .MuiCardContent-root .modalText {
        justify-content: start;
    }

    .MuiTimelineItem-root:nth-of-type(even) .MuiCardContent-root .modalText {
        justify-content: start;
    }
    
    .modalTitle {
        padding: 10px;
        align-self: center;
        text-align: center;
    }
    
    .modalDesc {
        display: flex;
        flex-direction: column;
        padding: 20px;
        height: 100%;
    }

    .modalPhotos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px
    }

    .modalTitle h2 {
        font-size: 2em;
        font-weight: 400;
        padding: 10px;
    }

    .MuiCard-root.childModalCard {
        height: auto;
        width: 80%;
        margin: 0 auto;
    }

    .childModalContent {
        display: flex;
        flex-direction: column;
    }
    
    .MuiCardMedia-root.childModalPhoto {
        width: 100%;
    }

    .react-player {
        width: 100%;
        height: auto;
    }
     
}

/* DESKTOP SCREEN SIZE */
@media (min-width: 1100px) {
    #root {
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }
    
    body {
        background-color: rgb(255, 255, 255);
    }
    
    .MuiTimelineItem-root:before {
        display: none;
    }
    
    .MuiTimeline-root {
        width: 70%;
        margin: 0 auto;
    }
    
    .MuiTypography-root {
        align-items: left;
    }

    .MuiTypography-root.MuiTypography-h3 {
        font-size: 3rem;
    }

    .MuiTypography-root.MuiTypography-h4 {
        font-size: 2.125rem;
    }

    .MuiTypography-root.MuiTypography-h5 {
        font-size: 1.5rem;
    }

    .MuiTypography-root.MuiTypography-h5.scrollDesc {
        font-size: 1.5rem;
        padding-top: 20px;
    }
    
    .MuiCardContent-root {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    
    .MuiTimelineItem-root:nth-of-type(even) .MuiCardContent-root{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        justify-content: space-evenly;
    }

    .MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
        height: 250px;
        width: 300px;
        padding: 10px;
    }

    .MuiPaper-root-MuiCard-root {
        height: 60%;
    }

    .lcContent {
        width: 50%;
        padding: 15px;
    }
    
    .scContent {
        width: 50%;
        margin: 0 auto;
        background-color: rgb(245, 245, 245);
    }
    
    .cardImage {
        align-self: center;
        width: auto;
    }
    
    .tlTitle {
        font-size: 4em;
    }
    
    .v_line {
        border-left: 2px solid #7d0096;
        height: 75px;
        margin: 20px auto;
        width: 2px;
    }

    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.modalContent {
        height: 90%;
        background-color: #f6f6f6;
    }
    
    .modalContent {
        width: auto;
        height: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f6f6f6;
        padding: 10px;
        display: flex;
    }
    
    .modalText {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .MuiTimelineItem-root:nth-of-type(even) .MuiCardContent-root .modalText {
        justify-content: start;
    }
    
    .modalTitle {
        padding: 10px;
        align-self: center;
        text-align: center;
    }
    
    .modalDesc {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        height: 50%;
        width: auto;
    }

    .modalImage {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;    
    }

    .modalTitle h2 {
        font-size: 3.5em;
    }

    .MuiTypography-root.MuiTypography-h5.scrollDesc {
        padding: 30px
    }
    
    .scrollDesc {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .childModalContent {
        display: flex;
        flex-direction: column;
    }

    .MuiCard-root.childModalCard {
        height: auto;
        width: 60%;
        margin: 0 auto;
    }

    .MuiCardContent-root.childModalContent {
        height: 100%;
    }

    .MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.childModalPhoto {
        width: 100%;
        height: fit-content;
        align-self: center;
    }

    .react-player {
        max-width: 100%;
        height: auto;
    }

    /* GRID TEST */
    /* .modalDescText {
        grid-area: header;
    }

    .modalDescPhoto {
        grid-area: main;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
        'header header header'
        'main main main';
        gap: 10px;

    }

    .grid-container > div {
        text-align: center;
    } */
}